/*
 * Globals
 */

/*
 * Override Bootstrap's default container.
 */

.content {
    padding: 0px 2em 3em;
}

blockquote {
    font-size: 1.0em;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

.page-header {
    padding-top: 20px;
}

.page-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 2.2em;
    font-weight: normal;
}

.page-description {
    padding-top: 20px;
    font-size: 1.6em;
    color: #999;
}

#footer {
    font-size: 0.8em;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto
}