[submodule "ch.eitchnet.parent"]
	path = ch.eitchnet.parent
	url = https://github.com/eitchnet/ch.eitchnet.parent.git
[submodule "ch.eitchnet.utils"]
	path = ch.eitchnet.utils
	url = https://github.com/eitchnet/ch.eitchnet.utils.git
[submodule "ch.eitchnet.privilege"]
	path = ch.eitchnet.privilege
	url = https://github.com/eitchnet/ch.eitchnet.privilege.git
[submodule "ch.eitchnet.xmlpers"]
	path = ch.eitchnet.xmlpers
	url = https://github.com/eitchnet/ch.eitchnet.xmlpers.git
