<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../styles/c-app-style.html">

<dom-module id="c-view404">
    <template>

        <style is="custom-style" include="c-app-style">
            :host {
                display: block;
                min-height: 100%;
                padding: 10px 20px;
            }
        </style>

        Oops you hit a 404.

    </template>

    <script>
        Polymer({
            is: 'c-view404',

            behaviors: [
                CustomComponentBehavior, StrolchLocalizeBehavior
            ],

            properties: {
                toolbarConfig: {
                    type: Object,
                    notify: true,
                    readOnly: true,
                    value: {
                        hasSearchTerm: false
                    }
                },
                dataObj: {
                    type: Object
                },
                messages: {
                    type: Array
                }
            }
        });
    </script>
</dom-module>