/**
 * Created by eitch on 2015-09-04
 */

/*
 * Navigation
 */
.nav {
    background: #ffffff;
    border-bottom: solid #f5f5f5;
}

.nav-logo {
    height: 120px;
}

.nav-row {
    text-align: center;
    margin-top: 25px;
    height: 95px;
}

.nav-icon {
    font-size: 3.5em;
    color: #b0b69d;
}

.nav-text {
    font-size: 1.2em;
    color: #b0b69d;
}

.nav a:hover, .nav a:active, .nav a:focus {
    text-decoration: none;
}

.nav-active, .nav-icon:hover {
    color: #89b601;
}
